body {
       	background:	#fff;
       	color:		#000;
	font-size:	14px;
	font-family:	Gill Sans, Verdana, Helvetica, Arial, Sans-serif;
	margin:		0px;
	padding:	0px;
	width:		600px;
}

input.field {
	padding:	2px;
	width:		142px;
	margin:		0px;
	font-size:	12px;
	font-family:	Gill Sans, Verdana, Helvetica, Arial, Sans-serif;
	border:		1px black solid;
}

input.button {
	background-color: #000000;
	padding:	0px;
	font-size:	10px;
	color:		#ffffff;
	font-weight:	bold;
}

div.nav  {
	text-align:	right;
}

div.nav a{
	color:		blue;
}

div.body {
	border-left:	5px solid #fff;
	font-size:	12px;
	line-height:	20px;
	margin:		2px;
	text-align:	left;
	width:		595px;
}